[/**/*.{cs,vb}]

dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0005.severity = warning
dotnet_diagnostic.CS8019.severity = warning
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0044.severity = none

